.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.style {
  height: 450px;
  width:350px;
  background-color:#ffffff ;
}
body{
  background-color:  #F8FAFC;
}
 .form{
  padding: 50px;
} 
#email,#password{
  margin-bottom: 8px;
  width: 250px;
  padding: 7px;
  border-radius: 6px;
}
#btn{
  width: 265px;
  background-color: blue;
  color:white;
  padding:8px;
  margin-top: 10px;
  border-radius: 7px;
}


